<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=.;Initial Catalog=launchsitecore_core;Integrated Security=False;User ID=sa;Password=SitecoreScott!" />
  <add name="master" connectionString="Data Source=.;Initial Catalog=launchsitecore_master;Integrated Security=False;User ID=sa;Password=SitecoreScott!" />
  <add name="web" connectionString="Data Source=.;Initial Catalog=launchsitecore_web;Integrated Security=False;User ID=sa;Password=SitecoreScott!" />
  <add name="analytics" connectionString="mongodb://localhost:27017/launchsitecore_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/launchsitecore_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/launchsitecore_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/launchsitecore_tracking_contact" />
  <add name="reporting" connectionString="Data Source=.;Initial Catalog=launchsitecore_reporting;Integrated Security=False;User ID=sa;Password=SitecoreScott!" />
</connectionStrings>